:root {
  /* Fonts */
  --primary-font: "WorkSans-Regular";
  --primary-font-bold: "WorkSans-SemiBold";
  --secondary-font: "SpaceMono-Regular";
  --secondary-font-bold: "SpaceMono-Bold";

  /* Colors */
  --bg-light: #ffffff;
  --bg-primary: #2b2b2b;
  --bg-black: #3b3b3b;
  --bg-gray: #cccccc;
  --bg-dark-gray: #858584;
  --bg-pink: #a259ff;
  --bg-btn-hover: rgba(54, 89, 134, 0.7);
  --bg-hover: rgba(59, 59, 59, 0.5);
}
